$primary-bg: black;
$white: #fff;
$icon-size-small: 16px;
$icon-size-medium: 20px;
$icon-size-large: 24px;
$text-small: 12px;
$text-medium: 14px;
$text-large: 16px;

.topnav {
  height: auto;
  background-color: $primary-bg;
  display: flex;
  justify-content: center;
  overflow: hidden; // Scrollni yashirish uchun

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1100px;

    @media (max-width: 575.98px) {
      width: 90%; // Mobilda 90% bo'ladi
      flex-direction: column;
      align-items: center;
    }
  }

  &__icon {
    width: $icon-size-medium;
    height: $icon-size-medium;

    @media (max-width: 575.98px) {
      width: $icon-size-small;
      height: $icon-size-small;
    }
  }

  &__text,
  &__title {
    color: $white;
    font-size: $text-large;

    @media (max-width: 575.98px) {
      font-size: $text-small;
      margin-left: 8px;
    }

    @media (min-width: 576px) {
      font-size: $text-medium;
      margin-left: 12px;
    }
  }

  &__select {
    background-color: $primary-bg;
    border: none;
    color: $white;
    font-size: $text-large;
    padding: 4px 8px;

    @media (max-width: 575.98px) {
      font-size: $text-small;
      margin-left: 0;
    }

    @media (min-width: 576px) {
      font-size: $text-medium;
    }
  }
}
